<div>
  <label for="itemName">Name</label>
  <input type="text" name="itemName" [(ngModel)]="itemName" />

  <label for="itemQuantity">Amount</label>
  <input type="number" name="itemQuantity" [(ngModel)]="itemQuantity" />

  <button type="button" name="add" (click)="onAdd()">Add</button>
  <!-- <button type="button" name="update">Update</button> -->
  <button type="button" name="clear" (click)="onClear()">Clear</button>
</div>


<div>
  <ul *ngFor="let item of items">
    <li>{{item.name}}({{item.amount}})</li>
  </ul>
</div>
